[submodule "apps/portfolio"]
	path = apps/portfolio
	url = https://github.com/asobirov/portfolio
	
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = https://github.com/asobirov/cok-dashboard
